body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1;
}

section {
    display: none;
}

section#home-section {
    display: block;
}

.hero-section {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 80%;
    height: 550px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#333;
}

.announcement-section, .news-section {
    margin-top: 20px;
}

.announcement-section h3, .news-section h3 {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.news-image {
    width: 80%;
    height: 400px;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hidden-section {
    display: none;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}